.container {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.banner {
    margin-bottom: 40px;
}

.textGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* 각 줄 디자인 다르게 */
.textLine1 {
    font-size: 28px;
    font-weight: 500;
    margin-top: 120px;
}

.textLine2 {
    font-size: 42px;
    font-weight: 600;
}

.orangeText {
    color: #FF7710;
}

.whiteText {
    color: #F5F5F5;
}

.textinsta {
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-top: 64px;
    color: #DDDDDD;
}

/* 문의 */
.keyword {
    font-weight: 400;
    margin-right: 16px;
}

.middleText {
    margin-right: 4px;
    font-weight: 400;
}

/* hover */
.instagram {
    font-weight: 600;
    cursor: pointer;
}

.instagram:hover {
    color: #FF7710;
}

/* 최종발표페이지 텍스트 */
.text1 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 120px;
}

.text2 {
    font-size: 30px;
    font-weight: 600;
}


.bottomButton {
  position: relative;
  width: 554px;
  height: 76px;
  margin-top: 64px;        
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(0, 0, 0, 0.75);
  overflow: hidden;
  cursor: pointer;

  /* 글라스 그림자 */
  box-shadow:
    2px 2px 8.1px 0 rgba(255, 255, 255, 0.5) inset,
    -10px -10px 8px 2px rgba(255, 74, 67, 0.2) inset;

  /* outline */
  outline: 1px rgba(255, 255, 255, 0.2) solid;
  outline-offset: -1px;
}

.bottomButtonBg {
  position: absolute;
  width: 659px;
  height: 659px;
  left: -300px;
  top: -378px;
  border-radius: 9999px;
  background: radial-gradient(
    ellipse 50% 50% at 50% 50%,
    rgba(255, 0, 0, 0.34) 0%,
    rgba(255, 0, 0, 0.03) 100%
  );
  pointer-events: none;
}

.bottomButton span {
  color: #F5F5F5;
  font-family: 'Pretendard', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  z-index: 10;
}

.chevronRight {
  width: 12px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
