.wrapper {
  width: 818px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 97px 0px;
  flex: 1;
}

.bgDark {
  background: rgb(var(--alpha-black-75));
}

.bgResult {
  background: transparent;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 60px;
}

.title {
  text-align: center;
  font-family: var(--font-pretendard);
  font-size: var(--text-bold-32);
  font-weight: var(--text-bold-32--font-weight);
  line-height: var(--text-bold-32--line-height);
  white-space: pre-line;
  margin: 0;
}

.titleColored {
  color: rgb(var(--primary-60));
}

.titleBlack {
  color: rgb(var(--gray-black));
}

.subtitle {
  text-align: center;
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-20);
  font-weight: var(--text-regular-20--font-weight);
  line-height: var(--text-regular-20--line-height);
  margin: 0;
  color: rgb(var(--gray-40));
}

.subtitleBlack {
  color: rgb(var(--gray-black));
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.question {
  width: 580px;
  margin: 0;
  font-family: var(--font-pretendard);
  font-size: var(--text-medium-20);
  font-weight: var(--text-medium-20--font-weight);
  line-height: var(--text-medium-20--line-height);
}

.questionWhite {
  color: rgb(var(--gray-white));
}

.questionBlack {
  color: rgb(var(--gray-black));
}

.input {
  width: 580px;
  min-height: 48px;
  padding: 14px 16px;
  border: 1px solid rgb(var(--gray-60));
  border-radius: 12px;
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-16);
  font-weight: var(--text-regular-16--font-weight);
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
  resize: none;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: rgb(var(--gray-40));
}

.inputDark {
  color: rgb(var(--gray-white));
}

.inputLight {
  color: rgb(var(--gray-black));
}

.inputError {
  border: 1px solid #ef4444;
}

.errorText {
  font-size: 12px;
  font-weight: 400;
  color: #ef4444;
  align-self: flex-start;
  margin-left: 22px;
}

.inputSuccess {
  border: 1px solid #10b981;
}

.successText {
  font-size: 12px;
  font-weight: 400;
  color: #10b981;
  align-self: flex-start;
  margin-left: 22px;
}

.fileInputWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fileBottomRow {
  width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fileErrorText {
  margin-left: 0;
}

.fileButtons {
  display: flex;
  gap: 0.5rem;
}

.uploadButton {
  display: flex;
  height: 43px;
  min-width: 99px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid var(--element-Stroke-white-alpha25, rgba(255, 255, 255, 0.2));
  background: var(--Alpha-black-75, rgba(0, 0, 0, 0.75));
  color: var(--text-white, #f5f5f5) !important;
  font-family: var(--Fonts-Pretendard, Pretendard);
  font-size: var(--Size-16, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: var(--Letter-spacing-0, 0);
  cursor: pointer;
  flex-shrink: 0;
}

.uploadButton:disabled {
  opacity: 1;
  cursor: default;
}

.deleteButton {
  display: flex;
  height: 43px;
  min-width: 99px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid rgba(255, 74, 67, 0.25);
  background: var(--Alpha-black-75, rgba(0, 0, 0, 0.75));
  color: #EF4444 !important;
  font-family: var(--Fonts-Pretendard, Pretendard);
  font-size: var(--Size-16, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: var(--Letter-spacing-0, 0);
  cursor: pointer;
  flex-shrink: 0;
}


.consentSection {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consentTitle {
  font-family: var(--font-pretendard);
  font-size: var(--text-bold-32);
  font-weight: var(--text-bold-32--font-weight);
  line-height: 140%;
  text-align: center;
  color: rgb(var(--primary-60));
  margin-bottom: 40px;
}

.consentTitleBlack {
  color: rgb(var(--gray-black));
}

.consentList {
  width: 580px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  list-style: decimal;
  list-style-position: outside;
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-18);
  font-weight: var(--text-regular-18--font-weight);
  color: rgb(var(--gray-white));
}

.consentListBlack {
  color: rgb(var(--gray-black));
}

.listTitle {
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-18);
  font-weight: var(--text-regular-18--font-weight);
  margin-top: 20px;
  color: rgb(var(--gray-white));
  line-height: 120%;
  margin-bottom: 7px;
}

.listTitleBlack {
  color: rgb(var(--gray-black));
}

.consentBox {
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-18);
  font-weight: var(--text-regular-18--font-weight);
  line-height: 120%;
  color: rgb(var(--gray-40));
  margin-top: 5px;
  padding-left: 16px;
  position: relative;
}

.consentBox::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0.2em;
  font-size: 14px;
  color: rgb(var(--gray-40));
}

.consentBoxBlack {
  color: rgb(var(--gray-black));
}

.consentBoxBlack::before {
  color: rgb(var(--gray-black));
}

.consentCheck {
  width: 590px;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
}

.consentCheck input {
  display: none;
}

.checkboxIcon {
  width: 24px;
  height: 24px;
  display: inline-block;
  object-fit: contain;
}

.consentCheck input:disabled + .checkboxIcon {
  opacity: 0.4;
  cursor: not-allowed;
}

.checkboxIconResult {
  opacity: 1 !important;
  cursor: default !important;
}

.checkboxText {
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-20);
  font-weight: var(--text-regular-20--font-weight);
  color: rgb(var(--gray-white));
}

.checkboxTextBlack {
  color: rgb(var(--gray-black));
}

.noticeSection {
  margin-top: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noticeTitle {
  font-family: var(--font-pretendard);
  font-size: var(--text-bold-32);
  font-weight: var(--text-bold-32--font-weight);
  line-height: 140%;
  text-align: center;
  color: rgb(var(--primary-60));
  margin-bottom: 60px;
}

.noticeTitleBlack {
  color: rgb(var(--gray-black));
}

.noticeItems {
  width: 580px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 182px;
}

.noticeItem {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.noticeTextGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.noticeIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.noticeText {
  font-family: var(--font-pretendard);
  font-size: var(--text-regular-18);
  font-weight: var(--text-regular-18--font-weight);
  color: rgb(var(--gray-white));
  line-height: 120%;
  margin: 0;
}

.noticeTextBlack {
  color: rgb(var(--gray-black));
}

.noticeTextDetail {
  font-family: var(--font-pretendard);
  font-size: var(--text-medium-16);
  font-weight: var(--text-medium-16--font-weight);
  color: rgb(var(--gray-40));
  line-height: 20px;
  margin-left: -32px;
}

.noticeTextDetailBlack {
  color: rgb(var(--gray-black));
}

.highlight {
  color: rgb(var(--primary-60));
  font-weight: 600;
}

.actionRow {
  padding-bottom: 200px;
  display: flex;
  gap: 30px;
  justify-content: center;
}

.unactive {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 234px;
  height: 62px;
  padding: 18px 70px;
  border-radius: 100px;
  background: transparent;
  color: #f5f5f5;
  font-size: 22px;
  font-family: "Pretendard";
  font-weight: 500;
  line-height: 26.4px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  outline-offset: -1px;
  box-shadow: inset 2px 2px 8px rgba(255, 255, 255, 0.5),
    inset -10px -10px 8px 2px rgba(255, 74, 67, 0.2);
  overflow: hidden;
}

.default {
  width: 234px;
  height: 62px;
  padding: 18px 70px;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
  overflow: hidden;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(6px) brightness(100%);
  -webkit-backdrop-filter: blur(6px) brightness(100%);
  box-shadow: inset 2px 2px 8px rgba(255, 255, 255, 0.5),
    inset -10px -10px 8px 2px rgba(255, 74, 67, 0.2);
  cursor: pointer;
}

.default::before {
  content: "";
  position: absolute;
  width: 676px;
  height: 676px;
  left: -390px;
  top: -456px;
  border-radius: 9999px;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 0, 0, 0.34) 0%,
    rgba(255, 0, 0, 0.03) 100%
  );
  pointer-events: none;
}

.default:hover {
  background: rgba(255, 0, 0, 0.25);
  outline: 1px solid white;
  box-shadow: inset 2px 2px 8px rgba(255, 255, 255, 0.5),
    inset -10px -10px 8px 2px rgba(255, 74, 67, 0.2);
}

.default:active {
  background: rgba(255, 0, 0, 0.25);
  outline: 1px solid white;
  box-shadow: inset 2px 2px 8px rgba(255, 255, 255, 0.5),
    inset -10px -10px 8px 2px rgba(255, 74, 67, 0.2);
  transform: translateY(1px);
}

.wrapper[data-variant="result"] {
  color: rgb(var(--gray-black));
}

.wrapper[data-variant="result"] *:not(img):not(svg):not(.uploadButton) {
  color: rgb(var(--gray-black)) !important;
}

textarea.inputError,
input.inputError {
  border: 1px solid #ef4444 !important;
}

textarea.inputSuccess,
input.inputSuccess {
  border: 1px solid #10b981 !important;
}
